/* @import "tailwindcss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom CSS */
.topbar {
  margin: auto;
  width: 100%;
  height: 60px;
  background-color: #0a0a0a;
  padding: 10;
  margin: 0;
  color: #ffffff;
}

ul#menu {
  float: left;
}
ul#menu li {
  display: inline;
  margin-left: 10px;
}

ul#menu-user {
  margin-right: 20px;
  float: right;
}
ul#menu-user li {
  display: inline;
  margin-right: 10px;
}

.clear {
  clear: both;
}

.block {
  margin: 20px;
}

.blockContent {
  margin: 20px;
}

/* Login */
.boxLogin {
  width: 50%;
  /* margin: auto; */
}
.frmBox {
  margin-bottom: 10px;
}
.frmBox input {
  font-size: 14px;
  padding: 10px;
}

/* Table */
.tb .tbHead {
  background-color: #ccc;
  font-weight: bold;
  padding: 5px;
}

.tb td {
  padding: 5px;
}
